* {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.headerContainer {
    display: flex;
    background-color: rgb(56, 56, 86);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.headerItems {
    flex: 1;
    margin-top: 20px;
}
.headerItems a {
    color: white;
}
.headerLogo {
    flex: 2;
    color: white;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}
.sectionOne {
    background-color: rgb(56, 56, 86);
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 450px;
}
.sectionOne button {
    background-color: rgb(97, 158, 255);
    border-radius: 15px;
    padding: 10px;
    width: 90px;
    color: white;
    margin-left: 75px;
}
.sectionOne div {
    flex: 1;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}
.sectionOne h1, p {
    color: white;
    margin-left: 40px;
    padding-left: 40px;
}

.sectionTwo {
    margin-top: 40px;
}
.sectionTwo h1 {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.imagesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.imagesContainer img {
    border-radius: 15px;
    border: 5px solid rgb(83, 136, 233);
    object-fit: cover;
}
.imageItems {
    text-align: center;
}
.imageItems p {
    color: black;
    text-align: center;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 50px;
    margin-right: 50px;
}

.sectionThree {
    background-color: rgb(197, 197, 197);
    margin-top: 50px;
    padding: 100px;
}
.sectionThree h2 {
    text-align: left;
    color: black;
    margin-left: 300px;
    margin-right: 300px;
    font-style: italic;
    font-weight: 50;
}
.sectionThree p {
    color: black;
    margin-left: 700px;
    font-weight: bold;
}

.cta {
    display: flex;
    flex-direction: column;
    background-color: rgb(85, 147, 255);
    justify-content: center;
    align-items: left;
    margin: 150px;
    border-radius: 30px;
}
.cta > * {
    text-align: left;
}
.cta h3, p {
    margin-left: 100px;
    color: white;
    padding: 0;
}

.footer {
    background-color: rgb(29, 29, 52);
    text-align: center;
    height: 130px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}